* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  background-image: url(./images/banner/banner1.png);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.banner-texts {
  text-align: right;
  padding: 100px;
}

.banner-primary-text {
  padding-bottom: 20px;
  font-size: 55px;
}

.banner-secondary-text {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 200;
}

.banner-button {
  height: 55px;
  width: 130px;
  background-color: #f85c24;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}

.about-me {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100vh;
  background-image: url(./images/person.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 300px;
}

.text {
  text-align: left;
  padding-right: 400px;
}

.about-me-h2 {
  font-size: 55px;
  padding-bottom: 30px;
}

.about-me-p {
  width: 500px;
  font-size: 25px;
  padding-bottom: 25px;
}

.about-me-UL {
  padding-top: 20px;
  text-align: left;
  padding-left: 10px;
}

.about-me-li {
  list-style: none;
  padding-bottom: 10px;
  font-size: 25px;
}

.li-img {
  height: 15px;
}
.my-plans {
  /* background-color: #f85c24; */
  /* height: 100vh; */
  margin-top: 60px;
}

.my-plans-h1 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
  font-size: 45px;
}

.my-plans-ul {
  display: flex;
  /* padding: 300px; */
  justify-content: center;
  list-style: none;
}

.my-plans-ul li {
  padding: 50px;
}

.my-plans-li-h4 {
  font-size: 25px;
}

.my-plans-li-p {
  text-align: center;
  color: #655c50;
  font-weight: 100;
}

.my-plans-li-img-1 {
  /* width: 50%; */
  padding-left: 60px;
}

.my-plans-li-img-2 {
  padding-left: 20px;
}

.my-plans-li-img-3 {
  padding-left: 30px;
}
.container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-1 {
  position: relative;
  top: 0;
  left: 0;
  /* border: 1px red solid; */
  padding-top: 29px;
}

.image-2 {
  position: absolute;
  top: 30px;
  left: 30px;
  /* border: 1px green solid; */
  padding-left: 456px;
}
.container-text {
  position: absolute;

  font-size: 25px;
}
.para {
  padding-right: 700px;
  color: white;
}
.container-btn {
  height: 55px;
  width: 140px;
  color: #f85c24;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.footer {
  background-color: rgb(35, 32, 32);
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  height: 50vh;
  color: white;
}

.footer-left {
  width: 50%;
  padding: 100px 70px 100px 200px;
}
.img-footer {
  padding: 10px;
}
.footer-right {
  padding: 100px 300px 100px 70px;
}
.footer-h1 {
  padding-bottom: 20px;
}
.footer-input {
  border-radius: 4px;
  height: 45px;
  text-align: left;
  padding: 27px;
}

.footer--btn {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 4px;
  color: #f85c24;
  font-size: 15px;
}

.footer-h4 {
  font-size: 20px;
}
